src/main/mule/impl/pager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<sub-flow name="calc-indices" doc:id="4a670831-9dca-4595-8325-10192c889671" >
		<choice doc:name="Choice">
            <when expression="#[vars.endIndex &gt; vars.initialSize]">
                <set-variable value="#[(vars.page -1) * vars.perPage]" doc:name="startIndex" variableName="startIndex" />
                <set-variable value="#[%dw 2.0 output application/java --- vars.startIndex + (vars.moduloRecords - 1 as Number) as Number]" doc:name="endIndex" variableName="endIndex" />
            </when>
            <otherwise>
                <set-variable value="#[vars.endIndex - (vars.perPage - 1)]" doc:name="startIndex" variableName="startIndex" />
            </otherwise>
        </choice>
	</sub-flow>
	<flow name="get:\health:pagination-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "This API seems to be available!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="get:\:pagination-config">
        <ee:transform doc:name="Paged Payload">
            <ee:message>
                <ee:set-payload resource="modules/initial-payload.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Payload Analysis" name="pagination-analysis" />
        <ee:transform doc:name="Paged Payload">
            <ee:message>
                <ee:set-payload resource="modules/paged-payload.dwl" />
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Temporary" message="#['Initial Array Size: ' ++ vars.initialSize]"/>
    </flow>

    <flow name="post:\:application\json:pagination-config">
        <logger level="INFO" message="post:\:application\json:pagination-config" />
    </flow>

    <sub-flow name="pagination-analysis" >
		<flow-ref doc:name="init-vars" doc:id="6478b935-6429-46d9-90e9-a010b178fd46" name="init-vars" />
		<choice doc:name="Choice" doc:id="0e485d81-3b55-4287-8239-3af23054fa24" >
			<when expression="#[vars.page &gt; vars.numberPages or vars.page == 0]">
				<raise-error doc:name="Raise error" doc:id="3f2af250-f921-4c69-9786-dd17975733c4" type="ERR:BAD_PAGE_NO" description="The page number is outside the scope of this request"/>
			</when>
			<otherwise >
				<flow-ref doc:name="calc-indices" doc:id="e99daafc-ed2a-45c5-8bb0-ec4ccfc5652d" name="calc-indices" />
			</otherwise>
		</choice>
    </sub-flow>

    <sub-flow name="init-vars" doc:id="3f9c1ac4-d4d6-4f81-88a0-2965ca1bdd55" >
		<set-variable value="#['/api/v1/countries']" doc:name="Link Self" variableName="linkSelf" />
		<set-variable value="#[attributes.queryParams.page]" doc:name="page" variableName="page" />
		<set-variable value="#[attributes.queryParams.perPage]" doc:name="perPage" variableName="perPage" />
		<set-variable value="#[sizeOf(payload.data)]" doc:name="initialSize" variableName="initialSize" />
		<set-variable value='#[%dw 2.0 output application/json ---
mod((vars.initialSize default 1),(vars.perPage default 1)) as String {format: "0"} as Number]' doc:name="Modulo" variableName="moduloRecords" />
		<set-variable value='#[%dw 2.0 output application/json ---
if (vars.moduloRecords != 0) 
((vars.initialSize default 1)/( vars.perPage default 1) + 1) as String {format: "0"}
else
((vars.initialSize default 1)/( vars.perPage default 1)) as String {format: "0"}]' doc:name="numberPages" variableName="numberPages" />
		<set-variable value="#[(vars.page * vars.perPage) - 1]" doc:name="endIndex" variableName="endIndex" />
	</sub-flow>

    </mule>
